.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 20px;
}

@media (max-width: 768px) {
    .form {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}

.form__field {
    padding: 10px;
    border: 2px solid #eee;
}

.form__button {
    padding: 10px;
    color: #fff;
    background-color: #017282;
    border: none;
    cursor: pointer;
}

.form__button:hover {
    background-color: rgb(1, 114, 130, 0.9);
}
