.section {
    background-color: #fff;
    margin: 10px 10px 0;
}

.section__title {
    padding: 20px;
    margin-bottom: 0;
}

.section__body {
    border-top: 2px solid #eee;
    padding: 20px;
}

/* .section__list {
    border-bottom: 2px solid #eee;
} */

