.section {
    background-color: #fff;
    margin: 10px 0;
}

.section__title {
    padding: 20px;
    margin: 0;
    font-size: 20px;
}

.section__container {
    display: flex;
    justify-content: space-between;
}

@media (max-width:768px){
    .section__container {
        flex-direction:column;
    }
}

.section__hidden {
    display:flex;
    justify-content: flex-end;
}

@media (max-width:768px){
    .section__hidden {
        flex-direction:column;
        flex-basis: 100%;
    }
}

.section__body {
    border-top: 2px solid #eee;
    padding: 20px;
}

.section__button {
    border: none;
    color: #017282;
    background-color: transparent;
    margin: 10px;
    cursor: pointer;
}

.section__button:disabled {
    color: #bdb8b8;
}