.section {
    background-color: #fff;
    margin: 10px 0;
}

.section__title {
    padding: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.section__header {
    display: flex;
    justify-content: space-between;
}

@media (max-width:768px){
    .section__header {
        flex-direction:column;
    }
}

.section__body {
    border-top: 2px solid #eee;
    padding: 20px;
}

