html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    max-width: 1000vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    line-height: 1.15;
}